.list-form {
    display: grid;
    grid-template-columns: 9fr 1fr;
    gap: 5px 5px;
    align-items: stretch;
}

#editor input {
    width: 100%;
}

.v-btn {
    margin: 5px;
    background-color: #66F;
}

.rm-btn {
    margin-top: 10px;
    background-color: darkred;
}