canvas {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.active {
    background-color: #66F;
}

.rm {
    background-color: red;
    color: white;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-move {
    cursor: move;
}

.cursor-crosshair {
    cursor: crosshair;
}

.editor-panels {
    overflow-y: auto;
    max-height: calc(100% - 36px);
}

.save-btn {
    position: absolute;
    z-index: 100;
    bottom: 0;
    right: 0;
}

.editor-container {
    display: flex;
    padding-top: 48px;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#main-container {
    display: flex;
    flex: 1;
    height: 100%;
    overflow: hidden;
}

#canvas {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    background-color: white;
    overflow: hidden;
}

#divider {
    width: 5px;
    cursor: col-resize;
    background-color: #ccc;
}

#divider:hover {
    background-color: #999;
}

#editor {
    position: relative;
    overflow: hidden;
}

#tools {
    position: fixed;
    top: 48px;
    left: 0;
    display: flex;
    flex-direction: column;
}

.grid-form {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 5px 5px;
    align-items: center;
}

.half-half-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px 5px;
    align-items: center;
}

#editor input[type=checkbox] {
    width: fit-content;
}

#editor .v-btn {
    background-color: #66F;
}