canvas {
    border: 1px solid black;
    width: 100%;
    height: auto;
    display: block;
}

.active {
    background-color: gray;
}

.rm {
    background-color: red;
    color: white;
}

.canvas-edit {
    cursor: pointer;
}

.canvas-move {
    cursor: move;
}

.editor-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    height: 100%;
}

#tools {
    display: flex;
    flex-direction: column;
}

.grid-form {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 5px 5px;
    align-items: center;
}

.half-half-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px 5px;
    align-items: center;
}