#editor input {
    width: 100%;
}

.v-card {
    margin-bottom: 5px;
}

.v-btn {
    margin: 5px;
    background-color: #66f;
}

.error-text {
    color: red;
}

.error-header {
    background-color: darkred;
}

.half-half-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px 5px;
    align-items: center;
}
