.error-header {
    background-color: darkred;
}

.v-btn {
    background-color: #66f;
}

.rm {
    background-color: darkred;
    margin-top: 20px;
}

.v-expansion-panel-title span {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

p {
    margin: 10px 15px;
    font-size: large;
}

.underlined {
    text-decoration: underline;
}

.v-expansion-panels {
    margin-bottom: 5px;
}
