#editor input {
    width: 100%;
}

.half-half-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px 5px;
    align-items: center;
}

.v-btn {
    margin: 5px;
    background-color: #66f;
}

.error-header {
    background-color: darkred;
}

.rm-btn {
    margin-top: 10px;
    background-color: darkred;
}

.rm {
    background-color: darkred;
    margin-top: 20px;
}

.list-form {
    display: grid;
    grid-template-columns: 9fr 1fr;
    gap: 5px 5px;
    align-items: stretch;
}

.v-expansion-panel-title span {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

p {
    margin: 10px 15px;
    font-size: large;
}

.underlined {
    text-decoration: underline;
}

.v-expansion-panels {
    margin-bottom: 5px;
}

.error-text {
    color: red;
}

.v-card {
    margin-bottom: 5px;
}
